{% extends "base.html.twig" %}
{% block body %}
    <section>
        <table>
            <tr>
                <th>Nickname</th>
                <th>GeoGuessrId</th>
            </tr>
            {% for player in players %}
                <tr>
                    <td><a href="{{ path('player_detail', {id: player.geoGuessId}) }}">{{player.nickname}}</a></td>
                    <td><a href="{{ path('player_detail', {id: player.geoGuessId}) }}">{{player.geoGuessId}}</a></td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
