{% extends "base.html.twig" %}
{% block body %}


    <section>
        <p> 
            You can find the <mark>Token</mark> in your URL when you are playing a GeoGuessr Game
            </br>
            <code>
                https://www.geoguessr.com/game/<mark>y0uRT0k3n</mark>
            </code>
        </p>
    </section>
    <section>
        <p>
        {{form(form)}}
        </p>
    </section>
    {% if feedback %}
        <hr>
        <article><aside><p>{{ feedback }}</p></aside></article>
    {% endif %}
    <hr>
    {% include "Game/_game_table.html.twig" with {"games": games} %}

{% endblock %}
